body {
    font-family: sans-serif;
    display: grid
    margin: 0%;
    background-image: url(background.jpg);
}

a.link  {
    color: white;
    text-decoration: none;
    text-indent: 10px;
}

h1  { font-family: serif;
    letter-spacing: 3px;
    color: white;
    text-indent: 5px;
}

h2  {
    letter-spacing: 3px;
    color: white;
    text-indent: 30px;
}

.Name   {
display: flex;
width: 9%;
height: 11vh
}



.Topbar   {
    margin: 10px;
    display:grid;
    width: 208vh ;
    height: 11vh;
    background-color: rgb(61, 14, 61);
    box-shadow: 0px 0px 100px 50px rgba(51, 8, 51, 0.849);
}

.Menu   { 
    display: flex;
    width: 99%;
    height: 0vh;
}

.Name   {
    border-radius: 20vh;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 14, 63);
}

.Yes{
    margin-left: 85vh;
}

.Home   {
    text-align: center;
    
}

.About  {

    text-align: center;

}

.Contacts   {
    text-align: center;

}

a:hover {
    text-decoration: underline;
}

.Parent {
    display: flex;
    margin: 10px;
    width: 208vh;
    height: 84.5vh;
    box-shadow: 0px 0px 100px 50px rgba(51, 8, 51, 0.849);
    background-color: rgba(61, 14, 61, 0.692);
}

.Main   {
    margin: 20px;
    width: 50vh;
    height: 70;
    background-color: rgba(128, 29, 128, 0.377);
}

